.contact_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
}

.title{
    padding: 5%;
    font-size: 5rem;
}

a:link {
    color: rgb(226, 183, 72);
    text-decoration: none;
    transition: 1s;
    font-weight:lighter;
}

a:visited {
    font-weight: lighter;
    color: rgb(226, 183, 72);
}

a:hover {
    color: rgb(156, 61, 61);
    transition: 0.4s;
    transform: scale(1.07, 1.07);
}

.links{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

@media (max-width: 820px) {
    .title {
        font-size: 3rem;
        width: 90%;
    }
    .links {
        font-size: 3rem;
    }
  }