.title {
    text-align: center;
    padding: 5%;
    font-size: 5rem;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
}

.project_image {
    opacity: 0;
    width: 25vw;
    height: 25vh;
}

.hike {
    width: 25vw;
    height: 25vh;
    background-image: url(https://github.com/KajsiaAnderson/take-a-hike-capstone/blob/main/screenshots/take-a-hike.png?raw=true);
    background-size: cover;
    background-position: 50% 50%;
    margin: 5px;
}

.tic {
    width: 25vw;
    height: 25vh;
    background-image: url(https://github.com/KajsiaAnderson/tic-tac-toe/blob/main/tic-tac-toe.png?raw=true);
    background-size: cover;
    background-position: 50% 40%;
    margin: 5px;
}

.kookie {
    width: 25vw;
    height: 25vh;
    background-image: url(https://github.com/KajsiaAnderson/kookies/blob/main/wireframes/kookies.png?raw=true);
    background-size: cover;
    background-position: center;
    margin: 5px;

}

.blurdle {
    width: 25vw;
    height: 25vh;
    background-image: url(https://github.com/KajsiaAnderson/blurdle/blob/main/images/blurImage.png?raw=true);
    background-size: cover;
    background-position: center;
    margin: 5px;

}

@media (max-width: 820px) {
    .project {
        display: flex;
        flex-direction: column;
    }

    .hike {
        min-width: 100%;
        background-position: center;
        height: 15vh;
        margin-right: 5rem;
    }

    .tic {
        background-position: center;
        min-width: 100%;
        height: 15vh;
        margin-left: 5rem;
    }

    .kookie {
        min-width: 100%;
        height: 15vh;
        margin-right: 5rem;
    }

    .blurdle {
        min-width: 100%;
        height: 15vh;
        margin-left: 5rem;

    }

    .title {
        font-size: 3rem;
        padding-bottom: 2rem;
    }
}